@import "../../lib/nord.scss";

.skillcard {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  padding: 1em;
  height: 290px;
  background-color: $nord2;
  color: $nord4;

  h1 {
    color: $nord5;
  }

  ul {
    li {
      margin: .5em;
      font-size: 1.2em;
    }
  }
}
