@import "../../lib/nord.scss";

.navbar-brand a {
  font-size: 1.5em;
}

.navbar a {
  color: $nord6;
}

.navbar a:hover {
  color: $nord6;
  background-color: $nord1;
}

.navbar {
  background-color: $nord0;
  border-bottom: 1px solid $nord4;
}

.navbar-burger:hover {
  background-color: $nord0;
}

.navbar-burger {
  span {
    background-color: $nord4;
  }
}
