header {
  padding: 1em;
}

.header-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-left {
  flex: 1;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  margin: 1em;
}
