@import "../../lib/nord.scss";

.navbar-brand a {
  font-size: 1.5em;
}

.navbar a {
  color: $nord6;
}

.navbar a:hover {
  color: $nord6;
  background-color: $nord1;
}

.navbar {
  background-color: $nord2;
  border-bottom: 1px solid $nord4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-burger:hover {
  background-color: $nord0;
}

.navbar-burger {
  span {
    background-color: $nord4;
  }
}

.navbar-item {
  font-size: 1.1rem;
}
