@import "./lib/nord.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $nord6;
  font-family: 'Open Sans', sans-serif;
}

.section {
  background-color: inherit !important;
}

a {
  color: $nord10 !important;
  transition: all .2s !important;
}

a:hover {
  color: $nord2 !important;
}
