html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #ECEFF4;
  font-family: 'Open Sans', sans-serif; }

.section {
  background-color: inherit !important; }

a {
  color: #5E81AC !important;
  transition: all .2s !important; }

a:hover {
  color: #434C5E !important; }
